#tabla-monitor-principal > tbody > tr > td:nth-child(1){
    font-size: 20px;
}
#tabla-monitor-principal > thead > tr > th:nth-child(2){
    width: 90px;
}
#tabla-monitor-principal > thead > tr > th:nth-child(3){
    width: 90px;
}
#tabla-monitor-principal > tbody > tr{
    cursor: pointer;
}
.alerta-error{
    cursor: pointer;
}
.alerta-aviso{
    cursor: pointer;
}